* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

:root {
  --primary: hsl(158, 36%, 37%);
  --text: hsl(30, 38%, 92%);
}

body {
  background-color: white;
}

.headline {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.price {
  font-size: 2rem;
  font-weight: bolder;
  color: var(--primary);
}
.discount {
  text-decoration: line-through;
}

.container {
  margin: 0 auto;
}

.addToCart {
  display: flex;
  width: 90%;
  justify-content: center;
}

.button {
  width: inherit;
  background-color: var(--primary);
  padding: 1em 3em;
  border-radius: 20px;
  text-decoration: none;
  color: var(--text);
  text-align: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* desktop */
@media screen and (min-width: 501px) {
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  .image {
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-image: url(./assets/images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card {
    background-color: antiquewhite;
    max-width: 1000px;
    height: 50vh;
  }

  .card {
    border-radius: 20px;
  }
}

/* Mobile */
@media screen and (max-width: 500px) {
  * {
    font-size: 20px;
  }

  .image {
    width: 100%;
    max-width: 1000px;
    height: 30vh;
    background-image: url('./images/image-product-mobile.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .fiscal {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  .desc {
    padding: 1em;
  }
}
